// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables used for styling Angular Material
// components according to Material 3 design specs.
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme.
  color-scheme: light;

  // Set default background, font, and text colors using Angular Material system-level CSS variables.
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
